body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form-container input {
    margin-bottom: 10px;
    padding: 5px;
}

.form-container button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button.edit-btn, button.delete-btn {
    padding: 3px 6px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

#error {
    color: red;
    margin: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

th {
    background-color: #f2f2f2;
}

td:hover {
    background-color: #f2f2f2;
    color: #333;
}

p{
    text-align: center;
    font-size: 20px;
}
/* ============ */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

th {
    background-color: #f2f2f2;
}

td:hover {
    background-color: #f2f2f2;
    color: #333;
}



.edit-btn, .delete-btn {
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.btn-container button:hover {
    background-color: #e0e0e0; 
}